<div class="ui top left attached teal label">
	<% if @profile.username %>
	  Edit user profile #<%= @profile.username %>
  <% else %>
	  New user profile
  <% end %>
</div>

<% if @profile.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@profile.errors.count, "error") %>.
    </div>
    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@profile, url: profile_url(@profile), :html => {:class => "ui small form", id: "myForm"}) do |f| %>
	<% #binding.pry %>

  <div class="ui items">
    <div class="item">
      <div class="ui tiny image">
        <%= @profile.blank? ?
            image_tag("no-image.png", alt: "noimage") :
              @profile.avatar.blank? ?
              image_tag("no-image.png", alt: "noimage") :
              image_tag(@profile.avatar.url(:medium))
              %>
      </div>
      <div class="middle aligned content">
        <div class="header"><%= @profile.blank? ? @profile.username : "New profile" %></div>
        <div class="meta">
          <span class="cinema">
            <%= @profile.blank? ? @profile.email : "" %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <%= render 'shared/error_messages', :target => @profile %>
  <div class="ticket-data" id="ticket-full-data">
    <div class="field">
      <%= f.label :avatar %>
      <%= @profile.avatar.blank? ?
        image_tag("no-image.png", alt: "noimage", class: "ui small rounded image") :
        image_tag(@profile.avatar.url(:thumb), alt: "user-image", class: "ui small rounded image")
        %>
      <br />
      <%= f.file_field :avatar %>
    </div>
    <div class="two fields">
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username, :placeholder => "Enter username",
        :type => "text" %>
      </div>
      <div class="required field">
        <%= f.label :email %>
        <%= f.text_field :email, :placeholder => "Enter email" %>
      </div>
    </div>
    <div class="field">
      <%= f.label "Full name" %>
      <div class="two fields">
        <div class="field">
          <%= f.text_field :firstname, :placeholder => "Enter first name",
          :type => "text" %>
        </div>
        <div class="field">
          <%= f.text_field :lastname, :placeholder => "Enter last name",
          :type => "text" %>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <%= f.label :time_zone %>
          <%= f.time_zone_select :time_zone,
            nil,
            {},
            { :class => 'ui search dropdown' }
            %>
        </div>
        <div class="field">
          <%= f.label :group %>
          <%= f.select(:group_id,
            @groups.map{|s|[s.name, s.id]},
            {},
            { :class => "ui search dropdown" }
            ) %>
        </div>
      </div>
      <div class="two fields">
          <div class="field">
            <%= f.label :landline_phone %>
            <%= f.text_field :landline_phone, class: "phone_no", :placeholder => "Enter phone no" %>
          </div>
          <div class="field">
            <%= f.label :mobile_phone %>
            <%= f.text_field :mobile_phone, class: "phone_no", :placeholder => "Enter mobile no" %>
          </div>
      </div>
      <div class="three fields">
        <div class="field">
          <%= f.label :department %>
          <%= f.text_field :department, :placeholder => "Enter department" %>
        </div>
        <div class="field">
          <%= f.label :position %>
          <%= f.text_field :position, :placeholder => "Enter position" %>
        </div>
        <div class="field">
          <%= f.label :business %>
          <%= f.select(:business_id,
            @businesses.map{|s|[s.name, s.id]},
            {},
            { :class => "ui search dropdown" }
            ) %>
        </div>
      </div>
      <div class="inline field">
        <div class="ui toggle checkbox">
          <%= f.check_box(:leaver, :type => "checkbox")  %>
          <%= f.label :leaver %>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
    <%= link_to '<i class="chevron left icon"></i> Back'.html_safe(),
     @profile, :class => "ui small labeled icon button" %>
    <%= button_tag(type: 'submit', class: "ui small labeled blue icon button") do %>
        <i class="save icon"></i> Save changes
    <% end %>
    <%= link_to '<i class="delete icon"></i> Delete'.html_safe(),
        profile_url(@profile),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "ui small red labeled icon button right"
        %>
  </div>
<% end %>
