<div class="ui grid">
  <div class="eight wide column">
    <table class="ui small definition orange table">
    <tbody>
      <tr>
        <td class="three wide column">Username</td>
        <td class="eleven wide column"><%= @profile.username if @profile.username %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @profile.email %></td>
      </tr>
      <tr>
        <td>Landline</td>
        <td class="phone_no"><%= @profile.landline_phone? ? @profile.landline_phone : ""  %></td>
      </tr>
      <tr>
        <td>Mobile</td>
        <td class="phone_no"><%= @profile.mobile_phone? ? @profile.mobile_phone : ""  %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="eight wide column">
    <table class="ui small definition orange table">
    <tbody>
      <tr>
        <td class="three wide column">Position</td>
        <td class="eleven wide column"><%= @profile.position? ? @profile.position : ""  %></td>
      </tr>
      <tr>
        <td>Department</td>
        <td><%= @profile.department? ? @profile.department : ""  %></td>
      </tr>
      <tr>
        <td>Business</td>
        <td><%= @profile.business.name if @profile.business%></td>
      </tr>
      <tr>
        <td>Time Zone</td>
        <td><%= @profile.time_zone ? @profile.time_zone : "" %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
