<div class="ui top left attached teal label">
	<% if @group.id %>
	  Edit group #<%= @group.id %>
  <% else %>
	  New group
  <% end %>
</div>

<%= form_for(@group, :html => {:class => "ui small form"}) do |f| %>
  <div class="ui items">
    <div class="item">
      <div class="ui tiny image">
        <%= @group.owner.blank? ? 
              image_tag("no-image.png", alt: "noimage") :
                @group.owner.avatar.blank? ? 
                image_tag("no-image.png", alt: "noimage") :
                image_tag(@group.owner.avatar.url(:medium))
                %>
      </div>
      <div class="middle aligned content">
        <div class="header">
          <%= @group.name.nil? ? "" : "#{@group.name} " %>
        </div>
        <div class="meta">
          <span class="cinema">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <%= render 'shared/error_messages', :target => @group %>
  <div class="asset-data">
    <div class="field ui input fluid">
      <%= f.label :name %>
      <%= f.text_field :name, 
        :class => "", 
        :placeholder => "Enter group name.." %>
    </div>
    <div class="field">
      <%= f.label :owner_id %>
      <input placeholder="<%= @group.owner.blank? ? 
        current_user.lastname+','+current_user.firstname : 
        @group.owner.lastname+','+@group.owner.firstname %>"
        readonly="readonly" type="text" >
    </div>
    <div class="ui divider"></div>
    <div class="field">
      <%= link_to '<i class="chevron left icon"></i> Back'.html_safe(),
       @group, :class => "ui small labeled icon button", id: "btn-ticket-close" %>
      <%= button_tag(type: 'submit', class: "ui small labeled blue icon button") do %>
          <i class="save icon"></i> Save changes
      <% end %>
      <%= link_to '<i class="delete icon"></i> Delete'.html_safe(), 
        @group, 
        method: :delete, 
        data: { confirm: 'Are you sure?' }, 
        :class =>"ui red small icon labeled button" if @group.id %>
    </div>
  </div>
<% end %>
