<% provide(:title, 'Group') %>

<div class="row">
  <div class="four wide column">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="twelve wide column">
    <div class="ui segment ticket-show">
      
      <div class="ui top left attached teal label">
        Location #<%= @group.id %>
      </div>
     
      <div class="ui items">
        <div class="item">
          <div class="ui tiny image">
            <%= @group.owner.avatar.blank? ? 
              image_tag("no-image.png", alt: "noimage") :
              image_tag(@group.owner.avatar.url(:medium)) 
              %>
          </div>
          <div class="middle aligned content">
            <div class="header"><%= @group.name if @group.name %></div>
            <div class="meta">
              <span class="cinema">
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
     <div class="ui grid">
       <div class="sixteen wide column">
         <%= render partial: 'group_details' %>
       </div>
     </div>
     <div class="ui divider"></div>
     <div class="">
       <%= link_to '<i class="left chevron icon"></i> Back'.html_safe(), 
         groups_path, :class => "ui labeled tiny icon button" %>
       <%= link_to '<i class="pencil icon"></i> Edit'.html_safe(),
          edit_group_path(@group), :class => "ui labeled tiny icon teal button"%>
     </div>      
    </div>
  </div>
</div>