<table class="ui compact small padded table blue segment">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="text-center">Issue</th>
      <th class="text-center">Category</th>
      <th class="text-center">Opened before</th>
      <th class="text-center">Closed before</th>
    </tr>
  </thead>
  <tbody>
    <% @user_tickets.each do |ticket| %>
      <tr >
        <td class="text-center"><%= check_ticket_priority(ticket.severity) %></td>
        <td class="text-center"><%= check_ticket_status(ticket.status) %></td>
        <td>
          <%= link_to ticket.issue, ticket, { :class => 'table_link'} %>
          <br /><small><%= ticket.explanation %></small></td>
        <td class="text-center">
            <%= ticket.ticket_category.name if ticket.ticket_category %> 
        </td>
        <td class="text-center"><%= time_ago_in_words(ticket.date_opened) %></td>
        <td class="text-center"><%= time_ago_in_words(ticket.date_closed) if ticket.date_closed %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="6">
        <div class="row">  
          <div class="ui two column grid">
            <div class="column">
              <div class="info-pagination">
                <%= page_entries_info @user_tickets %>
              </div>
              <%= will_paginate @user_tickets %>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
