<% provide(:title, "Welcome to :ticketbox") %>

<div class="ui padded page grid intro-page-background">

  <div class="sixteen wide column">
    <div id="intro-header" class="ui huge header inverted text-center">
      The <b>awesome</b> way to manage your cases
      <br />
      <br />
    </div>
  </div>
  <div class="one wide column">
  </div>
  <div class="ten wide column">
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="eight wide column">
        <div class="ui inverted list">
          <div class="item">
            <i class="check circle outline inverted big green icon"></i>
            <div class="content">
              <div class="ui medium header">Case management</div>
            </div>
          </div>
          <div class="item">
            <i class="check circle outline inverted big green icon"></i>
            <div class="content">
              <div class="ui medium header">User/Customer management</div>
            </div>
          </div>
          <div class="item">
            <i class="check circle outline inverted big green icon"></i>
            <div class="content">
              <div class="ui medium header">Asset Management</div>
            </div>
          </div>
          <div class="item">
            <i class="check circle outline inverted big green icon"></i>
            <div class="content">
              <div class="ui medium header">Location Management</div>
            </div>
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui inverted list">
          <div class="item">
            <i class="check circle outline inverted big green icon"></i>
            <div class="content">
              <div class="ui medium header">Simple integration</div>
            </div>
          </div>
          <div class="item">
            <i class="check circle outline inverted big green icon"></i>
            <div class="content">
              <div class="ui medium header">Fast interaction</div>
            </div>
          </div>
          <div class="item">
            <i class="check circle outline inverted big green icon"></i>
            <div class="content">
              <div class="ui medium header">Customer accessible</div>
            </div>
          </div>
          <div class="item">
            <i class="check circle outline inverted big green icon"></i>
            <div class="content">
              <div class="ui medium header">Rich reporting engine</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column text-left">
    <%= image_tag "app-monitor.png", class: "ui medium image" %>
  </div>
  <div class="one wide column">
  </div>
  <div class="sixteen wide column text-center">
      <%= link_to signup_path, :class => "ui massive green button" do  %>
        Request Invite
      <% end %>
  </div>
</div>

<div class="ui grid" id="intro-info">
  <div class="sixteen wide column text-center" >
    <div id="intro-h1" class="ui huge header text-center">
      Simplify your workday
      <div class="ui three column grid">
        <br /><br />
        <div class="column text-center">
          <h1 class="ui icon header">
            <i class="first aid icon"></i>
            <br>
            <div class="content">
              IT Help Desk
              <div class="sub header">
                <br />
                Open tickets for your I.T. Support cases and watch them being solved.
              </div>
            </div>
          </h1>
        </div>
        <div class="column text-center">
          <h1 class="ui icon header">
            <i class="desktop icon"></i>
            <br>
            <div class="content">
              Asset Management
              <div class="sub header">
                <br />
                Keep your assets in track - know what you own.
              </div>
            </div>
          </h1>
        </div>
        <div class="column text-center">
          <h1 class="ui icon header">
            <i class="shipping icon"></i>
            <br>
            <div class="content">
              Customer Service
              <div class="sub header">
                <br />
                Follow support requests and make customers happy !
              </div>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui page grid" id="intro-features">
  <div class="two wide column">
  </div>
  <div class="four wide column">
    <%= image_tag "app-monitor.png", class: "ui medium image" %>
  </div>
  <div class="eight wide column">
    <h1 class="header">
      Manage your users
    </h1>
    <h4 class="header">
      User requests driving you nuts?
    </h4>
  </div>
  <div class="two wide column">
  </div>

  <div class="ui page grid">
    <div class="ui divider"></div>
  </div>

  <div class="two wide column">
  </div>
  <div class="eight wide column">
    <h1 class="header">
      Manage your users
    </h1>
    <h4 class="header">
      User requests driving you nuts?
    </h4>
  </div>
  <div class="four wide column">
    <%= image_tag "app-monitor.png", class: "ui medium image" %>
  </div>
  <div class="two wide column">
  </div>

  <div class="ui page grid">
    <div class="ui divider"></div>
  </div>

  <div class="two wide column">
  </div>
  <div class="four wide column">
    <%= image_tag "app-monitor.png", class: "ui medium image" %>
  </div>
  <div class="eight wide column">
    <h1 class="header">
      Manage your users
    </h1>
    <h4 class="header">
      User requests driving you nuts?
    </h4>
  </div>
  <div class="two wide column">
  </div>

  <div class="ui page grid">
    <div class="ui divider"></div>
  </div>

  <div class="two wide column">
  </div>
  <div class="eight wide column">
    <h1 class="header">
      Manage your users
    </h1>
    <h4 class="header">
      User requests driving you nuts? 
    </h4>
  </div>
  <div class="four wide column">
    <%= image_tag "app-monitor.png", class: "ui medium image" %>
  </div>
  <div class="two wide column">
  </div>

</div>

</div>
