<% provide(:title, 'Asset') %>

<div class="row">
  <div class="four wide column">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="twelve wide column">
    <div class="ui segment ticket-show">
      
      <div class="ui top left attached teal label">
        Asset #<%= @asset.serial %>
      </div>
      
      
      <%= @asset.recycled? ? 
        ('<div class="ui top right attached green label">
          <i class="trash icon"></i>RECYCLED</div>').html_safe() : "" %>
      

      <div class="ui items">
        <div class="item">
          <div class="ui tiny image">
            <%= @asset.user.avatar.blank? ? 
              image_tag("no-image.png", alt: "noimage") :
              image_tag(@asset.user.avatar.url(:medium)) 
              %>
          </div>
          <div class="middle aligned content">
            <div class="header">
              <%= @asset.serial.nil? ? "-" : @asset.serial %>
            </div>
            <div class="meta">
              <span class="cinema">
                <%= @asset.brand.nil? ? "" : "#{@asset.brand} " %>
                <%= @asset.kind.nil? ? "" : @asset.kind%>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      
      <div class="ui grid">
        <div class="sixteen wide column">
          <%= render partial: 'asset_details' %>
        </div>
      </div>
      
      <div class="ui divider"></div>
      
      <div class="">
        <%= link_to '<i class="left chevron icon"></i> Back'.html_safe(), 
          assets_path, :class => "ui labeled tiny icon button" %>
        <%= link_to '<i class="pencil icon"></i> Edit'.html_safe(),
          edit_asset_path(@asset), :class => "ui labeled tiny icon teal button"%>
      </div>
    </div>
  </div>
</div>