<div class="ui grid">
  <div class="eight wide column">
    <table class="ui small definition orange table">
      <tbody>
        <tr>
          <td class="four wide column">Name</td>
          <td class="ten wide column">
            <%= @asset_location.name if @asset_location.name %>
          </td>
        </tr>
        <tr>
          <td>Amount</td>
          <td>
            <div class="ui circular blue label">
              <%= @asset_location.assets.count %>
            </div>
          </td>
        </tr>
        <tr>
          <td>Assigned by</td>
          <td>
            <%= link_to @asset_location.owner, { :class => 'table_link'} do %>
            <%= @asset_location.owner.avatar.blank? ? 
              image_tag("no-image.png", alt: "noimage", class: "ui avatar image") :
              image_tag(@asset_location.owner.avatar.url(:thumb), alt: "user-image", class: "ui avatar image") 
              %>
            <%= @owner_fullname %>
            <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="eight wide column">
  </div>
</div>